.container01{
    border: 1px solid;
    width: 100%;
    height: 80px;
    flex-direction:row ;
    display: flex;
}

.container2{
    border: 1px solid;
    width: 100%;
    height: 80px;
    flex-direction:row-reverse;
    display: flex;
}

.container03{
    border: 1px solid;
    width: 100%;
    height: 80px;
    flex-direction:column;
    display: flex;
}

.container04{
    border: 1px solid;
    width: 100%;
    height: 80px;
    flex-direction:column-reverse;
    display: flex;
}

div{
    width: 50px;
    height: 50px;
    margin: 5px;
}  

.box01{
    background-color: blueviolet;
}

.box02{
    background-color: cornflowerblue;
}

.box03{
    background-color: crimson;
}